pandas==2.2.3
python-json-logger==3.2.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
safetensors==0.4.5
seaborn==0.13.2
semantic-version==2.10.0
tokenizers
tomlkit==0.13.2
torch==2.5.1
tornado==6.4.2
tqdm==4.67.1
transformers==4.47.1
python-dotenv==1.0.1

